<!-- *ngFor directive is used to display all movies -->
<!-- "movies" variable declared in component -->
<!-- card contains buttons to view genre, director, and details -->
<!-- mat-icon changes on status of favorite movies by adding or removing -->
<app-nav-bar></app-nav-bar>
<div class="movie-card">
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="25%" 
    *ngFor="let movie of movies;"
    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.xl="20%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{movie.Title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{movie.ImagePath}} alt= {{movie.Title}} class="poster">
        <mat-card-actions>
          <button
              mat-button
              (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
              color="primary"
          >
              Genre
          </button>
          <button
              mat-button
              (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio)"
              color="primary"
          >
              Director
          </button>
          <button
              mat-button
              (click)="openDetailsDialog(movie.Title, movie.Description, movie.ImagePath)"
              color="primary"
          >
              Synopsis
          </button>
          <div>
          <mat-icon
            *ngIf="!setFaveStatus(movie._id)"
            aria-label='Add movie to favorites button'
            (click)="addFavoriteButton(movie._id, movie.Title)"
            style="cursor: pointer; position: absolute; right: 5px; top: 15px;" 
            >
            favorite_border
          </mat-icon>
          <mat-icon
            *ngIf="setFaveStatus(movie._id)"
            aria-label='Delete movie from favorites button'
            (click)="removeFavoriteButton(movie._id, movie.Title)"
            style="cursor: pointer; position: absolute; right: 5px; top: 15px;"
            color="warn"
            >
            favorite
          </mat-icon>
        </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
