<app-nav-bar></app-nav-bar>

<div class="user-profile">
  <div fxFlex="50%">
  <mat-card class="user-content">
    <mat-card-title>
      {{username}}'s Profile
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      Username: {{user.Username}}
      <br>
      Email: {{user.Email}}
      <br>
      Birthday: {{user.Birthday}}
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        (click)="deleteUserData()"
        [routerLink]="'/welcome'"
        color="warn"
      >
        Delete Account
      </button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
